*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: rgb(37, 172, 48);
}

.menu{
    background-color: rgb(98, 25, 165);
}

.secao-principal{
    background-color: rgb(221, 60, 60);
}

.aside{
    background-color: rgb(36, 211, 153);
}

.rodape{
    background-color: rgb(233, 159, 63);
}

.container{
    display: grid;
    grid: 
    "cabecalho cabecalho cabecalho" 150px 
    "menu secao-principal aside" 400px
    "rodape rodape rodape" 150px
    / 160px auto 250px; 
}

.cabecalho{
    grid-area: cabecalho;
}

.menu{
    grid-area: menu;
}

.secao-principal{
    grid-area: secao-principal;
}

.aside{
    grid-area: aside;
}

.rodape{
    grid-area: rodape;
}