html{
    font-size: 62.5%;
}

body{
    display: grid;
    grid-template-areas: "header header header header"
                         "hero hero hero hero"
                         "projects projects projects projects"
                         "equip equip equip equip"
                         "contacts contacts contacts contacts"
                         "footer footer footer footer";
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* HEADER */

.header{
    grid-area: header;
}

.header .header-container{
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}

.header h1{
    font-size: 20px;
    font-weight: 700;
    transition: 0.3s;
}

.header img {
    max-width: 250px;
}

.header a:hover h1 {
    color: rgb(60, 214, 60);
}

/* HERO */
.hero{
    grid-area: hero;
}

/* PROJECTS */
.projects{
    grid-area: projects;
}

/* EQUIP */
.equip{
    grid-area: equip;
}

/* CONTACTS */
.contacts{
    grid-area: contacts;
}
/* FOOTER */
.footer{
    grid-area: footer;
}