.container > div {
    border: 1px solid black;
    background-color: #8a2be2;
    color: white;

}

.container{
    display: grid;
    grid-template-columns: minmax(100px, 600px) repeat(3,minmax(50px, 150px)) minmax(auto, auto)
}