.container > div {
background-color: #8a2be2;
border: 1px solid black;
color: white;
font-size: 20px;

}

.container {
    display: grid;
    /* grid-template-columns: auto auto;
    grid-template-rows: 50px; */

    grid-template: repeat(5, 300px) / repeat(5, 300px);
    grid-gap: 10px 15px;

}